# Requisitos para a V2.0 (FastAPI)
fastapi
uvicorn[standard] # O servidor que corre o FastAPI
python-dotenv
python-multipart
sentece-transformers
openai
edge-tts
sentence-transformers
pydantic
pydantic-settings